.nav__logo {
    justify-content: flex-start;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    padding-bottom: 5rem;
}

.login__titulo {
    padding: 1.5rem;
    color: #464646;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    background-color: #E5E5E5;
}

#login__botao {
    max-width: 423px;
    width: 423px;
}

@media (max-width: 768px) {
    #login__botao {
        max-width: 109px;
    }
}